    @import url('https://fonts.googleapis.com/css2? family = Karla: wght @ 800 & display = swap');
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        color: white;
        font-family: 'Lagosta', cursive;
    }
    
    html,
    body {
        height: 100%;
    }
    
     :root {
        --bgcolor: #00FFFF;
        --accentcolor: #d45ba6;
    }
    
    body {
        background: linear-gradient(45deg, #7900FF, #548CFF, #93FFD8, #CFFFDC)
    }
    
    .conteudo {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        margin: 0 auto;
        gap: 20px;
    }
    
    .conteudo img {
        margin-top: 5%;
        width: 150px;
        height: 150px;
        border-radius: 90%;
        border: solid 1px rgb(#d45ba6);
    }
    
    .conteudo h1 {
        font-size: 2.5rem;
        color: #CFFFDC;
    }
    
    .conteudo a {
        background-color: #93FFD8;
        color: #7900FF, #548CFF, #93FFD8, #CFFFDC;
        text-decoration: none;
        width: 60%;
        padding: 15px;
        text-align: center;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: bold;
        border: 1px solid #7900FF, #548CFF, #93FFD8, #CFFFDC;
        border-radius: 10px;
        overflow: hidden;
    }
    
    .container {
        background: #7900FF, #548CFF, #93FFD8, #CFFFDC;
        max-width: 400px;
        min-height: 80px;
        padding: 4rem;
        box-shadow: 15px 15px 40px #7900FF;
        border-radius: 10px;
        display: flex;
        margin: 0 auto 0 auto;
        transform: translateY(16%);
    }